.leaflet-container {
    width: 100vw;
    height: 100vh;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.map-main-container {
    position: relative;
}
.map-main-container input {
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 991;
    position: fixed;
    width: 200px;
    height: 40px;
    background-color: aqua;
}
